.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F5EDDC;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #FA9494;
}

p {
  font-size: 2rem;
  color: #FA9494;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer{
  color: #FA9494;
  text-align: center;
  position: relative;
  top:130px;
}
